.AnimatedLine {
  width: 2rem;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Circle {
  min-width: 0.65rem;
  min-height: 0.65rem;
  border: 2px solid #888;
  border-radius: 100%;
}

.GrowingLine {
  width: 1px;
  height: 100%;
  background-color: #444;
}
