.TextBigHead {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.Title {
	color: #fff;
	font-family: var(--serif-font);
	font-size: 4.4rem;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.8px;
	display: inline-block;
}

.SubTitle {
	color: #aaa;
	font-family: var(--serif-font);
	font-size: 3.6rem;
	position: relative;
	display: inline-block;
	text-transform: lowercase;
}

.TitleUnderline {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #444;
}

